.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

input {
  margin-bottom: 3em;
  border-radius: 5%;
  height: 35px;
  font-size: 16px;
  margin-left: 20%;
  border:1px solid black;
}

label {
  margin-right: 1em;
  margin-left: 20%;
}

button {
  margin-left: 30%;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 10%;
}

section {
  border: 1px black solid;
  border-radius: 5%;
  margin-top: 2em;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: rgb(116, 192, 240);
}

.signup-header {
  margin-left: 35%;
}

.app-desc {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

.already {
  cursor: pointer;
  color: white;
}


@media only screen and (min-width: 600px) {
  section {
    border: 1px black solid;
    border-radius: 5%;
    margin-top: 2em;
    padding: 1em;
    margin-left: 30em;
    margin-right: 15em;
    background-color: rgb(116, 192, 240);
    width:32%;
   
  }
  button{
    margin-left: 44%;
  }
}