.dash-title{
    font-size: 30px;

}
.lang-title{
    font-size:24px;
    color:white;
}
.main-title{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.total-title{
    display: flex;
    justify-content: center;
    font-size:20px;
    border:0;
}
.fit{
    width:fit-content;
}
.start-btn{
    border:1px solid black;
    border-radius: 5%;
    margin-left:31%;
    width:fit-content;
    padding:5px;
}
.start-btn:hover{
    color:black;
    background: blanchedalmond;
}
.correct{
    color:green;
}
.wrong{
    color:red;
    text-align: right;
}
.original-word{
    margin:0;
    width:20px;
}
.remove-bullet{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.center{
    text-align: center;

}

@media only screen and (min-width: 600px) {
    .start-btn{
        border:1px solid black;
        border-radius: 5%;
        margin-left:42%;
        width:fit-content;
        padding:5px;
    }
  }